#amogus {
    position: relative;
    text-align: center;
}

#sugoma {
    margin-top: 50px;
    margin-bottom: 50px
}

table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}